
<label for="title">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="typ">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.typ" />
</label><br />
	<f:form.textfield property="typ" /><br />
<label for="answer1">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.answer1" />
</label><br />
	<f:form.textfield property="answer1" /><br />
<label for="nextquestion1">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.nextquestion1" />
</label><br />
	<f:form.textfield property="nextquestion1" /><br />
<label for="correct1">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.correct1" />
</label><br />
	<f:form.checkbox property="correct1" value="1" /><br />
<label for="answer2">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.answer2" />
</label><br />
	<f:form.textfield property="answer2" /><br />
<label for="nextquestion2">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.nextquestion2" />
</label><br />
	<f:form.textfield property="nextquestion2" /><br />
<label for="correct2">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.correct2" />
</label><br />
	<f:form.checkbox property="correct2" value="1" /><br />
<label for="answer3">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.answer3" />
</label><br />
	<f:form.textfield property="answer3" /><br />
<label for="nextquestion3">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.nextquestion3" />
</label><br />
	<f:form.textfield property="nextquestion3" /><br />
<label for="correct3">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.correct3" />
</label><br />
	<f:form.checkbox property="correct3" value="1" /><br />
<label for="answer4">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.answer4" />
</label><br />
	<f:form.textfield property="answer4" /><br />
<label for="nextquestion4">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.nextquestion4" />
</label><br />
	<f:form.textfield property="nextquestion4" /><br />
<label for="correct4">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.correct4" />
</label><br />
	<f:form.checkbox property="correct4" value="1" /><br />
<label for="answer5">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.answer5" />
</label><br />
	<f:form.textfield property="answer5" /><br />
<label for="nextquestion5">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.nextquestion5" />
</label><br />
	<f:form.textfield property="nextquestion5" /><br />
<label for="correct5">
	<f:translate key="tx_woehrlonlinebefragung_domain_model_question.correct5" />
</label><br />
	<f:form.checkbox property="correct5" value="1" /><br />