
<table class="tx-woehrl-onlinebefragung" >
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.title" />
		</td>
		<td>
			{question.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.typ" />
		</td>
		<td>
			{question.typ}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.answer1" />
		</td>
		<td>
			{question.answer1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.nextquestion1" />
		</td>
		<td>
			{question.nextquestion1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.correct1" />
		</td>
		<td>
			{question.correct1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.answer2" />
		</td>
		<td>
			{question.answer2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.nextquestion2" />
		</td>
		<td>
			{question.nextquestion2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.correct2" />
		</td>
		<td>
			{question.correct2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.answer3" />
		</td>
		<td>
			{question.answer3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.nextquestion3" />
		</td>
		<td>
			{question.nextquestion3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.correct3" />
		</td>
		<td>
			{question.correct3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.answer4" />
		</td>
		<td>
			{question.answer4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.nextquestion4" />
		</td>
		<td>
			{question.nextquestion4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.correct4" />
		</td>
		<td>
			{question.correct4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.answer5" />
		</td>
		<td>
			{question.answer5}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.nextquestion5" />
		</td>
		<td>
			{question.nextquestion5}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlonlinebefragung_domain_model_question.correct5" />
		</td>
		<td>
			{question.correct5}
		</td>
	</tr>
</table>