{namespace n= WOEHRL\WoehrlOnlinebefragung\ViewHelpers}
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:for each="{antworten}" as="antwort" key="eintrag">

    <f:switch expression="{eintrag}">

        <f:case value="32">
            <f:count subject="{antwort}" />

            <f:for each="{antwort}" as="antw">
                <ul>
                    <li>{antw.answer1}</li>
                    <li>{antw.answer2}</li>
                    <li>{antw.answer3}</li>
                    <li>{antw.answer4}</li>
                    <li>{antw.answer5}</li>
                </ul>
                </f:for>
        </f:case>
        <f:case value="33">
            {eintrag}
        </f:case>
        <f:case value="34">
            {eintrag}</f:case>
        <f:case value="35">
            {eintrag}
        </f:case>
        <f:case value="37">
            {eintrag}
        </f:case>
        <f:case value="38">
            {eintrag}
        </f:case>

    </f:switch>

    </f:for>
</f:section>