
<table class="tx-woehrl-gewinnspiele" >
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.gender" />
		</td>
		<td>
		{teilnehmer.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.firstname" />
		</td>
		<td>
		{teilnehmer.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.lastname" />
		</td>
		<td>
		{teilnehmer.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.title" />
		</td>
		<td>
		{teilnehmer.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.email" />
		</td>
		<td>
		{teilnehmer.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.phone" />
		</td>
		<td>
		{teilnehmer.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.mobile" />
		</td>
		<td>
		{teilnehmer.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.zip" />
		</td>
		<td>
		{teilnehmer.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.city" />
		</td>
		<td>
		{teilnehmer.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.address" />
		</td>
		<td>
		{teilnehmer.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.description" />
		</td>
		<td>
		{teilnehmer.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.werbung" />
		</td>
		<td>
		{teilnehmer.werbung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.country" />
		</td>
		<td>
		{teilnehmer.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.filiale" />
		</td>
		<td>
		{teilnehmer.filiale}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.kasse" />
		</td>
		<td>
		{teilnehmer.kasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.bon" />
		</td>
		<td>
		{teilnehmer.bon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlgewinnspiele_domain_model_teilnehmer.bondatum" />
		</td>
		<td>
		{teilnehmer.bondatum -> f:format.date()}
		</td>
	</tr>
</table>