
<html>
<head>

    <title>WÖHRL stylecardantrag</title>
</HEAD>

<style type="text/css">
    *, table, tr, td, a, p, div {
        padding: 0;
        margin: 0;
        border-collapse: collapse;
    }
</style>

<body bgcolor="#fcfcfc">
<center>
    <table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td width="10">&nbsp;</td>
            <td>
                <f:link.external uri="http://www.woehrl.de/" title="*** WÖHRL - stylecard ***">
                    <img src="http://www.woehrl.de/fileadmin/templates/Images/StylecardAntrag/Woehrl-stylecard.png" width="660" alt="*** WÖHRL - Newsletter ***" title="*** WÖHRL - Newsletter ***"/>
                </f:link.external>
            </td>
            <td width="10">&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td><img src="http://www.woehrl.de/fileadmin/images/navi.png" width="660" border="0" usemap="#Map"/></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <f:link.external uri="http://www.woehrl.de/" title="*** WÖHRL - stylecard ***">
                <img src="http://www.woehrl.de/fileadmin/user_upload/stylecard-2.jpg" width="660" alt="WÖHRL stylecard" title="WÖHRL stylecard"/>
                </f:link.external>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 12px"
                width=600><br/><br/>

                <P style="color:#666;">
                    <f:if condition="{Anrede}==1">
                        Sehr geehrter Herr
                    </f:if>
                    <f:if condition="{Anrede}==2">
                        Sehr geehrte Frau
                    </f:if>
                    {Nachname},<br/>
                    <br/>
                    vielen Dank für Ihre Anmeldung zu unserer WÖHRL stylecard. Bitte vervollständigen Sie Ihre Anmeldung
                    per Klick auf den folgenden Link: </P>
                <br/>
                <table width="660" align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="110"></td>
                        <td valign='middle' align='center' height="50" bgcolor='#eeeeee' width="440"
                            style="border:1px dashed #8a8a8a;cursor: pointer;  ">
                            <a style='color:#333;font-family: Arial, Helvetica, sans-serif;' href="{BestaetigungLink}">Bestätigung der stylecard-Anmeldung</a>
                        </td>
                        <td width="110">
                    </tr>
                </table>
                <br/>

                <P style="color:#666;">
                    Durch diese Bestätigung wird verhindert, dass Ihre E-Mail ohne Ihr Einverständnis verwendet wird.
                    <br>
                    Bitte beachten Sie, dass Ihre stylecard-Anmeldung erst nach Bestätigung aktiviert wird.<br/>
                    <br/>
                    Sollten Sie sich nicht selber registriert haben, ignorieren Sie diese E-Mail bitte einfach.<br/>
                    <br/>
                    <br/></p>

                <DIV id=idTextPanel>
                    <P style="color:#666;"><I>Herzlichst Ihr<br />
                        <br />
                        WÖHRL stylecard-Service<br />
                        Rudolf Wöhrl AG<br />
                        Tel.: 0911 / 8121 111*<br />
                        E-Mail: stylecard@woehrl.de<br />
                        Internet: www.woehrl.de<br />

                    </I></P>
                    <p style="font-size:10px;color:#666;">* Verbindungspreis entspricht Preis aus dem deutschen Festnetz. Mobilfunkpreis ggf. abweichend.</p>

                </DIV>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td valign="middle">
                <hr style="width:660px;border:0px;border-top:1px solid #ccc;"/>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;color:#666666;" width="660">
                <p style="font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 14px;color:#666666;">Ihre
                    stylecard-Vorteile<br/><br/></p>
                <table style="font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;color:#666666;">
                    <tr>
                        <td width="330"
                            style="font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 12px;color:#666666;">&#8226;
                            bis zu 5% stylecard Bonus
                        </td>
                        <td width="330">&#8226; stylecard Vorteilspreise & attraktive Preisvorteile</td>
                    </tr>
                    <tr>
                        <td>&#8226; Trend- und Style-News</td>
                        <td>&#8226; Willkommensgeschenk</td>
                    </tr>
                    <tr>
                        <td>&#8226; Einladung zu exklusiven Shopping-Events</td>
                        <td>&#8226; Auswahl-Service</td>
                    </tr>
                    <tr>
                        <td>&#8226; Erhalt des mystyle Magazins vor allen Anderen*</td>
                        <td>&#8226; Gratis Änderungsservice*</td>
                    </tr>
                    <td>&#8226; Auswahl-Service: 14 Tage*</td>
                    <td></td>
                    </tr></table>
                <p><br/>* nur für Inhaber der stylecardEXCLUSIVE. <br>
                    <br>
                    Die stylecardEXCLUSIVE erhalten Sie automatisch ab einem<br>
                    &#8226; Jahresumsatz von 2.000&#8364;, oder ab einem
                    <br>
                    &#8226; Jahresumsatz von 1.000&#8364; in drei auf einanderfolgenden Jahren
                    <br>
                    Sie gilt ab Erhalt bis zum 31.12. des Folgejahres.<br>
                    <br>
                    <br>
                </p>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td valign="middle">
                <hr style="width:660px;border:0px;border-top:1px solid #ccc;"/>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 12px"><A
                    href="http://www.facebook.com/myWoehrl"><IMG
                    title="Jetzt Fan bei Facebook werden!" border="0"
                    alt="Jetzt Fan bei Facebook werden!" align="right"
                    src="http://www.woehrl.de/fileadmin/images/facebook.png" width="660"/></A></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td height="10" width="660"><p
                    style="font-size:10px;color:#666;font-family: Arial, Helvetica, sans-serif; "></p></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td width="660"><p style="font-size:10px;color:#666;font-family: Arial, Helvetica, sans-serif; "><b>Herausgeber:</b>
                Rudolf Wöhrl AG |
                Lina-Ammon-Straße 10 |
                D-90471 Nürnberg, Amtsgericht Nürnberg HRB 27869, Ust-ID-Nr.:DE 221 55 98 63<br/>
                <strong>Vorstand:</strong> Herr Olivier Wöhrl (Vorsitzender),  Herr
                Robert Rösch<br/> <strong>Aufsichtsrat:</strong> Dr. Ekkehard Franzke,
                Andreas E. Mach,
                Manfred Zipp <a style="font-size:10px;color:#666;font-family: Arial, Helvetica, sans-serif; "
                                href="http://www.woehrl.de/impressum.html">Impressum </a><br/><br/></p></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td valign="middle">
                <hr style="width:660px;border:0px;border-top:1px solid #ccc;"/>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <map name="Map">
        <area shape="rect" coords="503,3,657,41" href="http://www.woehrl.de/unternehmen.html">
        <area shape="rect" coords="377,3,502,40" href="http://www.woehrl.de/aktuelles.html">
        <area shape="rect" coords="251,3,378,39" href="http://www.woehrl.de/marken.html">
        <area shape="rect" coords="105,3,253,42" href="http://www.woehrl.de/modehaeuser.html">
        <area shape="rect" coords="2,2,106,41" href="http://www.woehrl.de/fashion.html">
    </map>
</body>
</center>

</html>

