<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        *, table, tr, td, a, p, div {
            padding: 0;
            margin: 0;
            border-collapse: collapse;
        }
    </style>
</head>
<body bgcolor="#fcfcfc">
<center>
    <table width="680" border="0" cellspacing="0" cellpadding="0" align="center" >
        <tr>
            <td width="10">&nbsp;</td>
            <td><A href="http://www.woehrl.de/" title="*** WÖHRL - stylecard ***" target=_blank><A
                    href="http://www.woehrl.de/" target=_blank><img border=0 alt="*** WÖHRL - Newsletter ***" src="http://www.woehrl.de/fileadmin/images/Woehrl-stylecard.png" /></A></td>
            <td width="10">&nbsp;</td>
        </tr>
        <tr>
            <td></td><td><img src="http://www.woehrl.de/fileadmin/images/navi.png" width="660" border="0" usemap="#Map" /></td><td></td></tr>
        <tr>
            <td>&nbsp;</td>
            <td><A
                    href="http://www.woehrl.de"><img title="WÖHRL Newsletter"
                                                     alt="WÖHRL Newsletter" border="0"
                                                     src="http://www.woehrl.de/fileadmin/images/aktionen/5euroGutschein/WEB_stayfriends.jpg"
                                                     width=660 /></A></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 12px"
                width=660><br /><br /><P style="color:#666;">

                Liebe WÖHRL Kundin, lieber WÖHRL Kunde<br/>
                <br />
                vielen Dank für die Teilnahme an unserer Befragung! Als Dankeschön für Ihre engagierte Teilnahme,
                schenken wir Ihnen einen 10 &euro;-Einkaufsgutschein.
                <br><br></P>

                <table width="660" align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="110"></td>
                        <td valign='middle' align='center' height="50" bgcolor='#eeeeee' width="440"
                            style="border:1px dashed #8a8a8a;cursor: pointer;  ">
                            <a href='http://ebook.woehrl.de/WEB_stayfriends_Coupon_Umfrage.pdf' style='color:#333;font-family: Arial, Helvetica, sans-serif;font-size:12px;'
                               title='10 Euro Gutschein'>Per Klick auf diesen Link gelangen Sie zu Ihrem persönlichen Gutschein.</a>
                        </td>
                        <td width="110">
                    </tr>
                </table>
                <P style="color:#666;"><br>
                Drucken Sie sich diesen einfach aus und bringen Sie ihn bei Ihrem nächsten Einkauf in Ihrem WÖHRL Haus mit. Wir wünschen Ihnen viel Spaß beim Shoppen!


</P>



   




                <DIV id=idTextPanel>

                        <P style="color:#666;"><I>Herzlichst Ihr<br />
                            <br />
                            WÖHRL stylecard-Service<br />
                            Rudolf Wöhrl AG<br />
                            Tel.: 0911 / 8121 111*<br />
                            E-Mail: stylecard@woehrl.de<br />
                            Internet: www.woehrl.de<br />

                        </I></P>
                        <p style="font-size:10px;color:#666;">* Verbindungspreis entspricht Preis aus dem deutschen Festnetz. Mobilfunkpreis ggf. abweichend.</p>

                        <img title="WÖHRL 10 Euro Gutschein"
                             alt="WÖHRL 10 Euro Gutschein" border="0"
                             src="http://www.woehrl.de/fileadmin/images/aktionen/WEB_stayfriends_Coupon_Umfrage_620PX.jpg"
                             width=660 /></p>

                </DIV></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td valign="middle"><hr style="width:660px;border:0px;border-top:1px solid #ccc;" /></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 12px"><A
                    href="http://www.facebook.com/myWoehrl"><IMG
                    title="Jetzt Fan bei Facebook werden!" border="0"
                    alt="Jetzt Fan bei Facebook werden!" align="right"
                    src="http://www.woehrl.de/fileadmin/images/facebook.png" width="660" height="95"/></A></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td height="10" width="660"><p style="font-size:10px;color:#666;font-family: Arial, Helvetica, sans-serif; "></p></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td width="660"><p style="font-size:10px;color:#666;font-family: Arial, Helvetica, sans-serif; "><b>Herausgeber:</b>
                Rudolf Wöhrl AG |
                Lina-Ammon-Straße 10 |
                D-90471 Nürnberg, Amtsgericht Nürnberg HRB 27869, Ust-ID-Nr.:DE 221 55 98 63<br/>
                <strong>Vorstand:</strong> Herr Olivier Wöhrl (Vorsitzender), Herr
                Robert Rösch<br/> <strong>Aufsichtsrat:</strong> Dr. Ekkehard Franzke,
                Andreas E. Mach,
                Manfred Zipp <a style="font-size:10px;color:#666;font-family: Arial, Helvetica, sans-serif; "
                                href="http://www.woehrl.de/impressum.html">Impressum </a><br/><br/></p>
                <p style="font-size:10px;color:#666;">* Der Gutschein ist exklusiv für stylecard Inhaber bis 10.10.2015 gültig. Er gilt gegen Abgabe einmalig. Der Einkaufswert muss den Gutscheinwert
                    übersteigen. Er ist nicht mit anderen WÖHRL Aktionsrabatten oder Gutscheinen kombinierbar und gilt nicht auf bereits getätigte Einkäufe.
                    Nicht für Änderungen, andere Serviceleistungen und besonderes gekennzeichnete Artikel gültig.  Eine Barauszahlung oder der Kauf von Shoppingcards sind
                    ausgeschlossen. Einzelne im Haus gekennzeichnete Marken können von der Aktion ausgeschlossen sein. Gültig in Ihrem WÖHRL Haus.  Mitarbeiter der Unternehmensgruppe WÖHRL sind von der Aktion ausgeschlossen.
                </p></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td valign="middle">
                <hr style="width:660px;border:0px;border-top:1px solid #ccc;"/>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <map name="Map">
        <area shape="rect" coords="503,3,657,41" href="http://www.woehrl.de/unternehmen.html">
        <area shape="rect" coords="377,3,502,40" href="http://www.woehrl.de/aktuelles.html">
        <area shape="rect" coords="251,3,378,39" href="http://www.woehrl.de/marken.html">
        <area shape="rect" coords="105,3,253,42" href="http://www.woehrl.de/modehaeuser.html">
        <area shape="rect" coords="2,2,106,41" href="http://www.woehrl.de/fashion.html">
    </map>

</center>

</body>
</html>