<div>
    <p>Vielen Dank f&uuml;r die Beantwortung unserer Fragen!
        Als Dankesch&ouml;n f&uuml;r Ihre engagierte Teilnahme an unserer Befragung, schenken wir Ihnen zudem einen 10 &euro; Einkaufsgutschein.
        Dieser Gutschein wird Ihnen an die von Ihnen angegebene e-Mail-Adresse geschickt.
        Drucken Sie sich diesen einfach aus und bringen Sie ihn bei Ihrem n&auml;chsten Einkauf in Ihrem W&Ouml;HRL Haus mit.
        Wir w&uuml;nschen Ihnen viel Spa&szlig; beim Shoppen!<br><br>
        Ihr W&Ouml;HRL Team
    </p>
    </div>