<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        *, table, tr, td, a, p, div {
            padding: 0;
            margin: 0;
            border-collapse: collapse;
        }
    </style>
</head>
<body bgcolor="#fcfcfc">
<center>
    <table width="680" border="0" cellspacing="0" cellpadding="0" align="center" >
        <tr>
            <td width="10">&nbsp;</td>
            <td><A href="http://www.woehrl.de/" title="*** WÖHRL - stylecard ***" target=_blank><A
                    href="http://www.woehrl.de/" target=_blank><img border=0 alt="*** WÖHRL - Newsletter ***" src="http://www.woehrl.de/fileadmin/images/Woehrl-stylecard.png" /></A></td>
            <td width="10">&nbsp;</td>
        </tr>
        <tr>
            <td></td><td><img src="http://www.woehrl.de/fileadmin/images/navi.png" width="660" border="0" usemap="#Map" /></td><td></td></tr>
        <tr>
            <td>&nbsp;</td>
            <td><A
                    href="http://www.woehrl.de"><img title="WÖHRL Newsletter"
                                                     alt="WÖHRL Newsletter" border="0"
                                                     src="http://www.woehrl.de/fileadmin/images/aktionen/5euroGutschein/Willkommen.jpg"
                                                     width=660 /></A></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 12px"
                width=660><br /><br /><P style="color:#666;">

                <f:if condition="{Anrede}==1">
                    Sehr geehrter Herr
                </f:if>
                <f:if condition="{Anrede}==2">
                    Sehr geehrte Frau
                </f:if>
                {Vorname} {Nachname},<br/>
                <br />
                wir freuen uns, dass Sie den WÖHRL Newsletter abonniert haben. Bitte klicken Sie auf untenstehenden Link, um Ihre Anmeldung abzuschließen.
                Als Dankeschön erhalten Sie einen 5 Euro Gutschein* per E-Mail. Freuen Sie sich ab sofort auf alle Neuigkeiten aus der WÖHRL Welt,
                auf neue Mode-Trends, exklusive Angebote und Einladungen zu tollen Events und Aktionen.<br />
                <br>
                <br>
                <img title="WÖHRL Newsletter"
                     alt="WÖHRL Newsletter" border="0"
                     src="http://www.woehrl.de/fileadmin/images/aktionen/5euroGutschein/Schritte_nach_Anmeldung.jpg"
                     width=660 /><br>
                <br>
                Bitte aktivieren Sie Ihr Abonnement mit einem Klick auf den folgenden Link: <br>
                <br></p>
                <table width="660" align="center"   border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="110"></td><td valign='middle' align='center' height="50" bgcolor='#eeeeee' width="440" style="border:1px dashed #8a8a8a;cursor: pointer;  ">
                        <a style='color:#333;font-family: Arial, Helvetica, sans-serif;' href="{BestaetigungLink}">Bestätigung der Newsletter-Anmeldung</a> </td><td width="110">
                    </tr>
                </table><br />
                <P style="color:#666;">
                    Durch diese Bestätigung wird verhindert, dass Ihre E-Mail ohne Ihr Einverständnis verwendet wird. Bitte beachten Sie, dass erst nach Ihrer Bestätigung Ihr Abonnement aktiviert wird.<br />
                    <br />
                    Sollten Sie sich nicht selber registriert haben, ignorieren Sie die E-Mail einfach. <br />

                </p>
                <p style="font-size:10px;color:#666;">* Der 5€-Gutschein ist bis zu 6 Wochen nach Erhalt gültig. Er gilt nur einmalig auf einen Einkauf, Einkaufssumme muss Gutscheinwert übersteigen. Eine Barauszahlung oder der Kauf von Shoppingcards ist nicht möglich. Mitarbeiter der Unternehmensgruppe WÖHRL sind von der Aktion ausgeschlossen.</p>
                <DIV id=idTextPanel>
                    <P style="color:#666;"><I>Herzlichst Ihr<br />
                        <br />
                        WÖHRL stylecard-Service<br />
                        Rudolf Wöhrl AG<br />
                        Tel.: 0911 / 8121 111*<br />
                        E-Mail: stylecard@woehrl.de<br />
                        Internet: www.woehrl.de<br />

                    </I></P>
                    <p style="font-size:10px;color:#666;">* Verbindungspreis entspricht Preis aus dem deutschen Festnetz. Mobilfunkpreis ggf. abweichend.</p>
                </DIV>
            </td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td valign="middle"><hr style="width:660px;border:0px;border-top:1px solid #ccc;" /></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 12px"><A
                    href="http://www.facebook.com/myWoehrl"><IMG
                    title="Jetzt Fan bei Facebook werden!" border="0"
                    alt="Jetzt Fan bei Facebook werden!" align="right"
                    src="http://www.woehrl.de/fileadmin/images/facebook.png" width="660" /></A></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td height="10" width="660"><p style="font-size:10px;color:#666;font-family: Arial, Helvetica, sans-serif; "></p></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td width="660"><p style="font-size:10px;color:#666;font-family: Arial, Helvetica, sans-serif; "><b>Herausgeber:</b>
                Rudolf Wöhrl AG |
                Lina-Ammon-Straße 10 |
                D-90471 Nürnberg, Amtsgericht Nürnberg HRB 27869, Ust-ID-Nr.:DE 221 55 98 63<br/>
                <strong>Vorstand:</strong> Herr Olivier Wöhrl (Vorsitzender),  Herr
                Robert Rösch<br/> <strong>Aufsichtsrat:</strong> Dr. Ekkehard Franzke,
                Andreas E. Mach,
                Manfred Zipp <a style="font-size:10px;color:#666;font-family: Arial, Helvetica, sans-serif; "
                                href="http://www.woehrl.de/impressum.html">Impressum </a><br/><br/></p></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td valign="middle">
                <hr style="width:660px;border:0px;border-top:1px solid #ccc;"/>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <map name="Map">
        <area shape="rect" coords="503,3,657,41" href="http://www.woehrl.de/unternehmen.html">
        <area shape="rect" coords="377,3,502,40" href="http://www.woehrl.de/aktuelles.html">
        <area shape="rect" coords="251,3,378,39" href="http://www.woehrl.de/marken.html">
        <area shape="rect" coords="105,3,253,42" href="http://www.woehrl.de/modehaeuser.html">
        <area shape="rect" coords="2,2,106,41" href="http://www.woehrl.de/fashion.html">
    </map>

</center>

</body>
</html>